.btn {
  margin-left: 10px;
  display: inline-block;
  width: 200px;
  height: 40px;
  background: rgb(25, 0, 255);
  color: white;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.btn-wrapper{
  position: relative;
  margin: 50px auto;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}